.big-box{
  display: flex;
  height: 100vh;
  width: 100%;
}

.box {
  border: 2px solid #1e1e1e;
  border-top: none;
  height: 100vh;
  width: auto;
}

.col{
  border: 2px solid #1e1e1e;
  border-top: none;
  border-right: none;
  margin: 0px;
  padding: 0;
} 


/* LEFT BOX */
.left{
  width: 50%; 
}

.title-container{
  /* padding: 20px 0 20px 0; */
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 10px;
  padding: 0 20px 0 20px;
}

.title{
  white-space: nowrap;
  width: auto;
}

.line{
  border: 3px solid black;
  flex-grow: 1;
  width: 100px; 
  background-color: black;
}


.img-andi-container{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.img-andi{
  border: 2px solid black;
  width: 90%;
  max-width: 100%;
}
/* LEFT BOX */

/* MIDDLE BOX */
.middle{
  border-left: none;
  width: 25%;
  height: 100vh;
}

.content-middle{
  border-left: none;
  border-right: none;
}

.about-content{
  margin: 10px;
}

.skills{
  display: flex;
  /* margin: 22px 20px 0 20px; */
}

.desc-title{
  /* margin-right: 42px; */
}

ul{
  list-style: none;
}

.here-container{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-here{
  /* margin: 20px 50px 20px 50px; */
  width: 10px;
  text-align: center;
}

.go-button{
  /* margin: 0 50px 0 50px; */
}

button{
  width: 100%;
  background: #630000;
  color: white;
}

.year-born{
  /* margin-top: 22px; */
  /* margin-bottom: 20px; */
}

.gapping{
  /* width: 50%; */
}

.rock-left{
  text-align: right;
}
/* MIDDLE BOX */

/* RIGHT SIDE */
.right{
  width: 25%;
}

.navbar{
  display: flex;
  margin-right: 0;
}


/* RIGHT SIDE */



