@tailwind base;
@tailwind components;
@tailwind utilities;

.title{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5.625rem;
}

.slider-font{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
}


.desc{
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.desc-title, p{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: walkyr;
  src: url(./assets/fonts/Walkyr.ttf);
}
.walkyr{
  font-family: walkyr;
  font-size: 250px;
  height: 220px;
}

.walkyr-stroke{
  color: transparent;
  font-family: walkyr;
  font-size: 250px;
  height: 220px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 3px;
}

body{
  background-color: #FEFBF6;
  color: #1e1e1e;
}
